<h1>index</h1>
<table >
    <th>VLAN番号</th><th></th><th></th>
  <% @vlans.each do |vlan| %>
    <tr>
      <td class="num"><%= vlan.vlanid %></td>
      <td class="show"><%= link_to "show", vlan_path(vlan.vlanid), data: { "turbolinks" => false }%></td>
      <td class="delete"><%= link_to "delete", vlan_path(vlan.vlanid), :method => :delete, :onclick=>"test('#{vlan.vlanid}')" %></td>
    </tr>
  <% end %>
</table>

<script>
function test(id) {
  $.ajax({
    url: `http://10.50.0.100:8080/del/${id}`,
    type: 'GET'
  })
  .done(function(response){
    console.log("success")
  })
  .fail(function(xhr){
    console.log("feild")
  });
}
</script>
