<h1>見方</h1>
<p>
  例) 2-2 3-3 15ms <br>
  スイッチ2のポート2と, スイッチ3のポート3がつながっていて, 遅延量は15msです
</p>

<!-- 無理矢理リロードするよ -->
<script>
setInterval("location.reload()",30000);
</script>

<div id="mynetwork"></div>


<%= render 'display' %>
