<h1>見方</h1>
<p>
  例) 2-2 3-3 15ms <br>
  スイッチ2のポート2と, スイッチ3のポート3がつながっていて, 遅延量は15msです
</p>

<% unless @warning == nil %>
  <% @topologies.each do |topology| %>
    <% unless topology.delay == nil %>
      <% if (((((topology.delay)*1000)*100)).round).to_f/100 >= @warning.severe %>
        <% notifier = Slack::Notifier.new "<Your Webhook URL" %> #事前準備で取得したWebhook URL
        <% notifier.ping("Switch: 0x" + topology.dport1.split("-")[0] + " port番号: " + topology.dport1.split("-")[1] + "," + "Switch: 0x" + topology.dport2.split("-")[0] + " port番号: " + topology.dport2.split("-")[1] + "間で致命的な遅延が発生しています") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<!-- 無理矢理リロードするよ -->
<script>
setInterval("location.reload()",30000);
</script>

<div id="mynetwork"></div>


<%= render 'display' %>
